body{
    background-color: rgb(139, 135, 81);
}

.wrapper
{
    width: 50%;
    height: 70%;
    border: 11px solid;
    padding: 50px;
    margin: auto;
}

.chatazinas
{
    background-color: rgb(0, 0, 0);
    height: 70%;
    padding: 10px;
    color: rgb(255, 11, 11);
}

.vards
{
    width: 100%;
}

.vards:focus{
    outline: none;
}